{
	"LISTEN_PORTS": 2000,
	"BACKEND_PORTS": 3000,
	"SOCKET_PORTS": 4000,
	"WIREGUARD_PORTS": 6000,
	"EXPOSE_PORTS": 7000,
	"WG_TCP_PORT": 51819,
	"WG_UDP_PORT": 51820,
	"VM_IP": "10.0.0.2",
	"CONTROL_IP": "127.0.0.1",
	"IP_FOR_DMZ": "10.0.0.1"
}